{% extends '_base.html' %}
{% load static %}
{% block meta %}
    <title>Built with Django</title>
    <meta name="description" content="Collection of cool projects people built with Django">
    <link rel="canonical" href="https://{{ request.get_host }}/projects/new/" />
    <meta property="og:title" content="Built with Django">
    <meta property="og:url" content="https://{{ request.get_host }}/projects/new/" />
    <meta property="og:description" content="Collection of cool projects people built with Django">
    <meta name="og:image" content="{% static 'images/logo.png' %}">
    <meta name="twitter:creator" content="@rasulkireev">
    <meta name="twitter:site" content="@rasulkireev">
    <meta name="twitter:title" content="Built with Django">
    <meta name="twitter:description" content="Collection of cool projects people built with Django">
    <meta name="twitter:image" content="{% static 'images/logo.png' %}">
{% endblock %}
{% block content %}

  <h1>Submit your project</h1>
  <form class="container" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group m-3">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}">Title</label>
        {{ form.title }}
    </div>

    <div class="form-group m-3">
        {{ form.url.errors }}
        <label for="{{ form.url.id_for_label }}">Demo or Project URL</label>
        {{ form.url }}
    </div>

    <div class="form-group m-3">
        {{ form.user_email.errors }}
        <label for="{{ form.user_email.id_for_label }}">Your Email</label>
        {{ form.user_email }}
    </div>

    <div class="form-group m-3">
        {{ form.short_description.errors }}
        <label for="{{ form.short_description.id_for_label }}">One Sentence Description</label>
        {{ form.short_description }}
    </div>

    <button class="btn btn-primary" type="submit">
        Submit
    </button>
  </form>

{% endblock content %}
